/*
 * Copyright (c) 2024, Eve Redero
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>
/*#include <lvgl.h>*/

/ {
	pointer {
		compatible = "zephyr,lvgl-pointer-input";
		input = <&stmpe811>;
		invert-y;
	};
/*
	keypad {
		compatible = "zephyr,lvgl-keypad-input";
		input = <&buttons>;
		input-codes = <INPUT_KEY_3, INPUT_KEY_2, INPUT_KEY_4, INPUT_KEY_5, INPUT_KEY_1>;
		lvgl-codes = <LV_KEY_RIGHT, LV_KEY_LEFT, LV_KEY_UP, LV_KEY_DOWN, LV_KEY_ENTER>;
		input-codes = <INPUT_KEY_3, INPUT_KEY_2>;
		lvgl-codes = <LV_KEY_NEXT, LV_KEY_PREV>;

	};
*/
};
